<%= form_with(model: @product) do |f|%>
    <div style="display: flex; flex-direction: column; max-width: 400px;">
        <%= f.label :title%>
        <%= f.text_field :title%>
    </div>

    <div style="display: flex; flex-direction: column; max-width: 400px;">
        <%= f.label :description%>
        <%= f.text_area :description, rows:10%>
    </div>
    <div style="display: flex; flex-direction: column; max-width: 400px;">
        <%= f.label :price%>
        <%= f.number_field :price%>
    </div>
    <%= f.submit "Save" %>
<% end %>