<h1>Bill Splitter</h1>
<%= form_tag split_bill_path do %>
<%= label_tag :amount %>
<%= number_field_tag :amount, @amount %>
<%= label_tag :tax %>
<%= number_field_tag :tax, @tax %>
<%= label_tag :tip %>
<%= number_field_tag :tip, @tip %>
<%= label_tag :number_of_guests %>
<%= number_field_tag :number_of_guests, @number_of_guests %>
<%= submit_tag "Calculate" %>
<% end %>

<% if @total %>
<p>Total per person is: <%= @total%> <p>
<% end %>